{% extends "base.html" %} {% block page_content %}
<div class="layout__body mx-auto" style="width: 1200px">
	<div class="mx-auto my-2" style="width: 600px">
		<!-- display all users with their information in cards --->
		{% for user in users %}
		<div class="card mb-2">
			<div class="card-body">
				<h5 class="card-title">{{user.username}}</h5>
				<p class="card-text">{{user.created_at}}</p>
				<p class="card-text">{{user.email}}</p>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
