{% extends "base.html" %}
{% load static %}
{% block page_content %}
<link rel="stylesheet" href="{% static '/css/discover.css' %}">

<div class="body whole-page" id="body">
	<div class="discover-body">
		{% for post in posts %}
		<div class="discover-post card">
			<div class="discover-title">
				<div class="author-information">
					{{post.user.name}} - {{post.created_at}}
				</div>

				<a href="{% url 'post' post.id %}">
					<h1>{{post.title}}</h1>
				</a>

				<!-- A form with two options, upvote and downvote -->
				<div class="post-vote">
					<form action="{% url 'createPostVote' post_id=post.id up_or_down='up' %}" method="POST">
						{% csrf_token %}
						<button class="vote vote-post vote-post-upvote" type="submit">
							<i class="fa-solid fa-arrow-up"></i>
						</button>
					</form>
					<div class="card__body">
						<span class="post-votes-count{{ post.id }} text-bold">
							{{ post.total_score }}
						</span>
					</div>
					<form action="{% url 'createPostVote' post_id=post.id up_or_down='down' %}" method="POST">
						{% csrf_token %}
						<button class="vote vote-post vote-post-downvote" type="submit">
							<i class="fa-solid fa-arrow-down"></i>
						</button>
					</form>
				</div>

				{% if post.image %}
				<div class="post-image">
					<img src="{{post.image.url}}" alt="{{post.title}}" class="card__image"
						style="width: 100%; max-width: 300px; max-height: 300px" />
				</div>
				{% endif %}


			</div>

			<!-- a div with a comment icon with the number of comments in the post -->
			<a href="{% url 'post' post.id %}">
				<div class="comment-icon">
					<i class="fa-solid fa-comment"></i>
					<span class="comment-count">
						{{post.num_comments}}
					</span>
				</div>
			</a>

			<!-- a div with a share icon with the number of shares in the post -->
			<div class="share-icon">
				<i class="fa-solid fa-share"></i>
				<span class="share-count">
					{{post.num_shares}}
				</span>
			</div>

			<!-- a div with a report icon that submits a report on the post -->
			<div>
				<form action="{% url 'createPostReport' post.id %}" method="POST">
					{% csrf_token %}
					<button class="report" type="submit">
						<i class="fa-solid fa-flag"></i>
					</button>
				</form>
			</div>
		</div>
		{% endfor %}

		<div class="new-post">
			<form class="form" action="{% url 'createPost' %}" method="post" enctype="multipart/form-data">
				{% csrf_token %} {{ form.as_p }}
				<div class="form__action my-2">
					<button class="btn btn--main" type="submit">Submit New Post</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- TODO: Create separate script for post and comment votes -->

<script>
	$(document).ready(function () {
		$('.vote-post').click(function (e) {
			e.preventDefault();
			var form = $(this).closest('form');
			var url = form.attr('action');
			var data = form.serialize();
			$.post(url, data, function (response) {
				// find the votes-count div and update with the new_score
				$('.post-votes-count' + response.post_id).text(response.new_score);
				// make the upvote button class "vote-upvoted"
				if (response.action = 'upvote') {
					$('.vote-post-upvote').addClass('vote-upvoted');
					$('.vote-post-downvote').removeClass('vote-downvoted');
					$
				}
				$('.vote-post').removeClass('vote-upvoted');
			});
		});
	});
</script>

{% endblock %}