{% block page_content %}
<div class="layout__body mx-auto" style="width: 1200px">
    <div class="mx-auto" style="width: 600px">
        <div class="card border-primary">
            <div class="card__header">
                <h1 class="card__title">
                    <a href="{{post.get_absolute_url}}">{{post.title}}</a>
                </h1>
            </div>

            <!-- A form with two options, upvote and downvote -->
            <div class="card__body">
                <form action="{% url 'vote_post' post_id=post.id up_or_down=1 %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn--mainZ" type="submit">Upvote</button>
                </form>
                <form action="{% url 'vote_post' post_id=post.id up_or_down=0 %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn--main" type="submit">Downvote</button>
                </form>
            </div>

            <!-- Iterate through post votes dictionary and display vote count of each respective post -->

            <div class="card__body">
                <p>
                    <span class="text-bold">Votes:</span>
                    {% for key, value in post_votes.items %} {% if key == post.id %}
                    {{value}}
                    {% endif %} {% endfor %}
                </p>
            </div>

            <div class="card__body">
                <!-- display the image if the image exists -->
                {% if post.image %}
                <img src="{{post.image.url}}" alt="{{post.title}}" class="card__image"
                    style="width: 100%; max-width: 300px; max-height: 300px" />
                {% endif %}
                <!-- display the body of the post -->
                <p class="card__text">{{post.body}}</p>
            </div>
            <div class="card__footer">
                <!-- display the author of the post -->
                <p class="card__author">{{post.user.name}}</p>
                <!-- display the date of the post -->
                <p class="card__date">Date Posted: {{post.created_at}}</p>
            </div>

            <!-- display the comments that belong to each post -->
            {% for comment in comments %} {% if comment.post == post %}
            <div class="card__comment">
                <p class="card__comment-text">{{comment.comment}}</p>
                <p class="card__comment-author">{{comment.user.name}}</p>
                <p class="card__comment-date">{{comment.created_at}}</p>

                <!-- Iterate through comment votes dictionary and display vote count of each respective comment -->
                <div class="card__body">
                    <p>
                        <span class="text-bold">Votes:</span>
                        {% for key, value in comment_votes.items %} {% if key == comment.id %}
                        {{value}}
                        {% endif %} {% endfor %}
                    </p>
                </div>

                <div class="card__body">
                    <form action="{% url 'vote_comment' comment_id=comment.id up_or_down=1 %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn--main" type="submit">Upvote</button>
                    </form>
                    <form action="{% url 'vote_comment' comment_id=comment.id up_or_down=0 %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn--main" type="submit">Downvote</button>
                    </form>
                </div>

            </div>
            {% endif %} {% endfor %}

            <!-- form to write a comment underneath a post -->

            <form class="form" action="{% url 'comment' post.id %}" method="POST">
                {% csrf_token %}
                <div class="form__group">
                    <label for="comment">Comment</label>
                    <textarea required name="comment" rows="3"></textarea>
                </div>
                <div class="form__action my-2">
                    <button class="btn btn--main" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- script to send AJAX request after clicking the upvote button  -->
<script>
    $(document).ready(function () {
        $('button').click(function () {
            var $this = $(this);
            var $form = $this.closest('form');
            var formData = $form.serialize();
            var formURL = $form.attr("action");
            $.ajax({
                url: formURL,
                type: "POST",
                data: formData,
                success: function (data, textStatus, jqXHR) {
                    $this.closest('.card__body').find('p').text(data);
                }
            });
            return false;
        });
    });
    {% endblock %}