{% extends "base.html" %}
{% load static %}
{% block page_content %}
<link rel="stylesheet" href="{% static '/css/discover.css' %}">
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"> </script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="body py-5 ">
    <div class="mx-auto" style="text-align:center">
        <h1 style="color:white">Pong</h1>
    </div>
    <div class="album py-5" style="width:50%; margin: 0 auto;">
        <div class="row">
            <div class="col-md-7 mx-auto">
                <div class="card mb-4 box-shadow">
                    <div class="d-flex flex-column">
                        <div class="pl-2">
                            <small class="text-muted"> {{post.user.name}} - {{post.created_at}} </small>
                            <div class="post-vote mr-auto d-flex flex-column">
                                <form action="{% url 'createPostVote' post_id=post.id up_or_down='up' %}" method="POST">
                                    {% csrf_token %}
                                    <button class="vote vote-post vote-post-upvote" type="submit">
                                        <i class="fa-solid fa-arrow-up"></i>
                                    </button>
                                </form>
                                <div class="mx-auto">
                                    <span class="post-votes-count{{ post.id }} text-bold">
                                        {{ post.total_score }}
                                    </span>
                                </div>
                                <form action="{% url 'createPostVote' post_id=post.id up_or_down='down' %}"
                                    method="POST">
                                    {% csrf_token %}
                                    <button class="vote vote-post vote-post-downvote" type="submit">
                                        <i class="fa-solid fa-arrow-down"></i>
                                    </button>
                                </form>
                            </div>
                            <div class="">
                                <a href="{% url 'singular_post' post.id %}">
                                    <p>{{post.title}}</p>
                                </a>
                            </div>
                        </div>
                        {% if post.image %}
                        <div class="mx-auto mb-2">
                            <div class="card-img-top">
                                <img src="{{post.image.url}}" alt="{{post.title}}" class="card__image"
                                    style="width: 100%; max-width: 300px; max-height: 300px" />
                            </div>
                        </div>
                        {% endif %}
                    </div>



                    <div class="d-flex flex-row ml-2">
                        <!-- a div with a comment icon with the number of comments in the post -->
                        <div class="mr-1">
                            <a href="{% url 'singular_post' post.id %}">
                                <div class="num-comments">
                                    <i class="fa-regular fa-comment"></i>
                                    <small class="text-muted">
                                        {{post.num_comments}} comments
                                    </small>
                                </div>
                            </a>
                        </div>
                        <div class="mr-1">
                            <form action="{% url 'createPostReport' post.id %}" method="POST">
                                {% csrf_token %}
                                <button class="report" type="submit">
                                    <i class="fa-regular fa-flag"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mx-auto new-post d-flex flex-column" style="width:20%">
        <form class="form" action="{% url 'createPost' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h1 style="color:white">New Post</h1>
            <div class="form__group">
                <!-- text input labelled title -->
                <input type="text" name="title" placeholder="Write a new post" />
                <p></p>
                <label for="image" class="custom-file-upload">
                    <i class="fa fa-cloud-upload"></i> Upload
                </label>
                <input id="image" type="file" />
                <!-- submit button -->
                <button class="btn" type="submit">
                    <i class="fa-regular fa-plus"></i>
                    <span>Post</span>
                </button>
            </div>
        </form>
    </div>
</div>

<!-- TODO: Create separate script for post and comment votes -->


<script>
    $(document).ready(function () {
        $('.vote-post').click(function (e) {
            e.preventDefault();
            var form = $(this).closest('form');
            var url = form.attr('action');
            var data = form.serialize();
            $.post(url, data, function (response) {
                console.log(response);
                $('.post-votes-count' + response.post_id).text(response.new_score);
                $(e.target).toggleClass('voted');
            });
        });
    });
</script>

<script>
    $(document).ready(function () {
        $('.vote-comment').click(function (e) {
            e.preventDefault();
            var form = $(this).closest('form');
            var url = form.attr('action');
            var data = form.serialize();
            $.post(url, data, function (response) {
                $('.comment-votes-count' + response.comment_id).text(response.new_score);
                $(e.target).toggleClass('voted');
            });
        });
    });
</script>


{% endblock %}