{% extends "base.html" %}
{% load static %}
{% block page_content %}

<!-- profile.css link -->
<link rel="stylesheet" href="{% static '/css/profile.css' %}">

<div class="layout__body mx-auto" style="width: 50%">
	<!-- display logged in user's profile information -->
	<div class="profile-box border-1">
		<h2 style="text-align:center">Profile</h2>
		<ul>
			<div style="display:inline-block">
				<p>Name: {{ user.name }}</p>
				<p>Email: {{ user.email }}</p>
				<p>Username: {{ user.username }}</p>
				<p>Total Score: {{ user.total_score }}</p>
				<p>Total Post Score: {{ user.total_post_score }}</p>
				<p>Total Comment Score: {{ user.total_comment_score }}</p>
			</div>
			<!-- user's profile picture -->
			<div style="display:inline-block;">
				<p>
					<img class="profile-picture rounded-circle" src="{{ user.profile_picture.url }}"
						alt="profile picture" style="max-width: 400px; max-height: 400px;" />
				</p>
			</div>
		</ul>
	</div>

	<!-- display all posts a user has made -->
	<div class="posts">
		<h2>Posts</h2>
		<ul>
			{% for post in user.get_posts %}
			<div>
				<a href="{% url 'post' post.id %}">{{ post.title }}</a>
			</div>
			{% endfor %}
		</ul>
	</div>

	<!-- display all comments a user has made -->
	<div class="comments">
		<h2>Comments</h2>
		<ul>
			{% for comment in user.get_comments %}
			<div>
				<a href="{% url 'post' comment.post.id %}">{{ comment.comment }}</a>
			</div>
			{% endfor %}
		</ul>
	</div>

	<!-- form where they can update each part of their profile with new information -->
	<form class="form" action="{% url 'updateProfile' %}" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="form__group">
			<label for="email">Email</label>
			<input required type="text" name="email" value="{{user.email}}" />
		</div>
		<div class="form__group">
			<label for="username">Phone Number</label>
			<input required type="text" name="phone" value="{{user.phone}}" />
		</div>
		<div class="form__group">
			<label for="name">Name</label>
			<input required type="text" name="name" value="{{user.name}}" />
		</div>
		<div class="form__group">
			<label for="password">Password</label>
			<input type="password" name="password" />
		</div>
		<div class="form__group">
			<label for="password">Confirm Password</label>
			<input type="password" name="password2" />
		</div>
		<div class="form__group">
			<label for="profile_picture">Profile Picture</label>
			<input type="file" name="profile_picture" />
		</div>
		<div class="form__action my-2">
			<!-- <a class="btn btn--dark" href="{{request.META.HTTP_REFERER}}">Cancel</a> -->
			<button class="btn btn--main btn--dark" type="submit">Submit</button>
		</div>
	</form>
</div>
{% endblock %}