{% extends "base.html" %} {% block page_content %}
<div class="layout__body mx-auto" style="width: 200px">
	<div class="mx-auto" style="width: 200px">
		<!-- display logged in user's profile information -->
		<!-- form where they can update each part of their profile with new information -->
		<form class="form" action="" method="POST">
			{% csrf_token %}
			<div class="form__group">
				<label for="email">Email</label>
				<input required type="text" name="email" value="{{user.email}}" />
			</div>
			<div class="form__group">
				<label for="username">Phone Number</label>
				<input required type="text" name="phone" value="{{user.phone}}" />
			</div>
			<div class="form__group">
				<label for="name">Name</label>
				<input required type="text" name="name" value="{{user.name}}" />
			</div>
			<div class="form__group">
				<label for="password">Password</label>
				<input type="password" name="password" />
			</div>
			<div class="form__group">
				<label for="password">Confirm Password</label>
				<input type="password" name="password2" />
			</div>
			<div class="form__action my-2">
				<!-- <a class="btn btn--dark" href="{{request.META.HTTP_REFERER}}">Cancel</a> -->
				<button class="btn btn--main btn--dark" type="submit">Submit</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}
