{% extends "base.html" %}
{% block page_content %}
<div class="layout__body mx-auto" style="width: 200px">
    <div class="mx-auto" style="width: 200px">


        <h1>Public Profile</h1>
        <div>
            <!-- a page which displays all public profile information for the respective user -->
            <p>
                <strong>Name:</strong> {{user.name}}
            </p>
            <p>
                <strong>Email:</strong> {{user.email}}
            </p>
            <p>
                <strong>Username:</strong> {{user.username}}
            </p>
            <!-- form to start a conversation with the user if a conversation doesn't already exist -->

            {% if user.id != request.user.id %}
            <form action="{% url 'createconversation' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="user_id" value="{{user.id}}" />
                <button class="btn btn--main" type="submit">Start Conversation</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}